@font-face {
  font-family: 'Fakt Pro';
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Fakt/FaktPro-Normal.ttf');
}
@font-face {
  font-family: 'Fakt Pro';
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Fakt/FaktPro-Medium.ttf');
}

body {
  background-color: #F6F8F9 !important;
  -webkit-font-smoothing: antialiased;
}

.app-cross input{
  border: 1px #e5e5e5 solid !important;
    border-radius: 10px;
    margin: 5px 0;
    height: 50px;
}


.app-cross input[type="submit"]{
  background: none !important;
  border: none !important;
  padding: 3px 0px!important;
  margin: 0;

}

.app-cross input[type="text"], .app-cross input[type="password"]{
  background: none!important;
  width: 100%!important;
padding: 20px!important;
box-sizing: border-box;

}

.submit{
  background-color: #409fff;
  border-radius: 10px;
  height: 50px;
  margin: 5px 0!important;
}

#LoginFrame{
  background: none;
  font-size: 14px;
  font-family: 'Fakt Pro', arial, sans-serif !important;
}

.app-cross h2{
  display:none;
}

.cross img {
    height: auto!important;
    max-width: 47.5%!important;
    margin-bottom: 40px!important;
  }

  .remember input{
    height: 13px;
  }



body {
  padding: 0 !important;
  font-family: 'Fakt Pro' !important;
}
.layout {
  margin: 0 !important;
}
.free-wall {
  left: 0 !important;
  max-width: 160px;
  position: static !important;
}

#Blocks {
  display: block !important;
}

.main_menu {
  margin: 0 30px;
}
.main_menu .read-more {
  font-family: 'Fakt Pro';
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  font-size: 14px;
  color: #6A6D70;
}

.main_menu .read-more:hover {
  color: #000;
  cursor: pointer;
}

.ui-widget-content {
  border: 0 !important;
}

#NoviFrameDownload {
  display: none;
}


#Content  {
  width: calc(100vw - 300px);
  display: block;
  max-width: 1200px;
  margin: 30px 0 30px 270px !important;
}

#Header {
  background: #fff;
  width: 220px;
  min-width: 220px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #E6E8EA;
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
}

#Back {
  display: none;
}

#Header .wetransfer_logo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='20'%3E%3Cpath fill-rule='evenodd' d='M11.544 14.01c-.586 0-.916.341-1.319.985l-1.76 2.84c-.659 1.098-1.208 1.855-2.491 1.855-1.283 0-1.87-.53-2.492-2.007-.77-1.817-1.576-4.013-2.31-6.967C.367 7.421 0 5.376 0 3.711 0 2.045.513 1.06 2.272.719 4.692.265 7.952 0 11.544 0c3.592 0 6.854.265 9.273.72 1.759.34 2.272 1.325 2.272 2.99 0 1.667-.367 3.711-1.173 7.006-.733 2.954-1.54 5.15-2.309 6.967-.623 1.477-1.21 2.007-2.492 2.007-1.283 0-1.832-.757-2.492-1.855l-1.76-2.84c-.402-.644-.732-.985-1.319-.985zM34.084 20c-6.194 0-9.859-4.354-9.859-10.072 0-6.134 4.215-9.769 9.676-9.769C38.775.16 42 2.772 42 6.293c0 3.332-2.749 5.49-5.864 5.49-1.686 0-2.932-.34-3.775-1.022-.33-.265-.513-.227-.513.076 0 1.25.44 2.31 1.246 3.143.66.681 1.906 1.136 3.079 1.136 1.21 0 2.272-.266 3.225-.758.953-.492 1.76-.34 2.236.455.55.908-.22 2.082-.88 2.84C39.508 19.015 37.162 20 34.084 20z'/%3E%3C/svg%3E");
  width: 42px;
  height: 20px;
  background-size: cover;
  margin: 0 30px 30px;
  cursor: pointer;
}

#Header_Account_Image {
  display: flex;
  padding: 30px;
  align-items: center;
  max-width: inherit !important;
  max-height: inherit !important;
  border: 0;
}

#Header_Account_Image:hover {
  border: 0;
  background: rgba(0,0,0,0.05)
}

#Header_Account_Image span{
font-family: 'Fakt Pro';
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 14px;
}

#Header_Account_Image img{
  width: 24px !important;
  height: 24px !important;
  border-radius: 12px;
  margin-right: 10px;
}

.Header_Account_Image_Arrow {
  display: none;
}


#bricks {
  display: none;
}

.free-wall {
  position: absolute;
  left: 260px;
}

.block--homepage {
  display: none;
  width: calc(100vw - 300px);
  max-width: 750px;
  margin: 30px 0px 30px 270px !important;
  justify-content: space-between;
  flex-wrap: wrap;
}
#Main.home .block--homepage{display: flex;}

.block--homepage main {
  width: calc(60% - 10px);
}

.block--homepage aside {
  width: calc(40% - 10px);
}

.block_container {
  background: #FFFFFF;
  border: 1px solid #E9EBED;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.block_container .brick_content_header {
  font-size: 18px;
  background: #F7F9FA;
  border-bottom: 1px solid #E9EBED;
  border-radius: 5px 5px 0px 0px;
  padding: 20px;
  margin: -20px -20px 15px -20px;
}

.block_container .brick_content_header .fa{
  display: none;
}

.block--intro p:first-of-type {
  font-size: 18px;
  font-weight: 500;
  color: #17181A;
  margin: 0 0 15px;
}

.block--intro p{
  color: #6A6D70;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
  display: block;
}

.block--reports .brick_content_item {
  color: #409fff;
  text-decoration: underline;
  font-size: 14px;
}

.block--reports .brick_content_item:hover {
  color: #0073e5;
  cursor: pointer;
}

.block--reports .brick_content_item .fa {
  display: none;
}

.block--leaveBalance .brick_content_row td{
  font-family: 'Fakt Pro';
  font-size: 14px;
  color: #6A6D70;
}

.block--leaveBalance .brick_content_row td.rightalign {
  font-weight: 500;
  text-align: right;
  color: #17181A;
  padding: 0 !important;
}

.block--leaveBalance .brick_content_row td:last-of-type {
  display: none;
}
