body {
  background-color: white;

}

.app-cross input{
  border: 1px #e5e5e5 solid !important;
    border-radius: 10px;
    margin: 5px 0;
    height: 50px;
}


.app-cross input[type="submit"]{
  background: none !important;
  border: none !important;
  padding: 3px 0px!important;
  margin: 0;

}

.app-cross input[type="text"], .app-cross input[type="password"]{
  background: none!important;
  width: 100%!important;
padding: 20px!important;
box-sizing: border-box;

}

.submit{
  background-color: #409fff;
  border-radius: 10px;
  height: 50px;
  margin: 5px 0!important;
}

#LoginFrame{
  background: none;
      font-size: 14px;
}

.app-cross h2{
  display:none;
}

.cross img {
    height: auto!important;
    max-width: 47.5%!important;
    margin-bottom: 40px!important;
  }

  .remember input{
    height: 13px;
  }



.free-wall {
  left: 0 !important;
  max-width: 160px;
  padding: 0 30px;
}

.main_menu {
  margin: 0 30px;
}
.main_menu .read-more {
  font-family: Fakt Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  font-size: 14px;
  color: #6A6D70;
}

.main_menu .read-more:hover {
  color: #000;
  cursor: pointer;
}


#Header {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  width: 220px;
}

#Header_Account_Image {
  display: flex;
  padding: 30px;
  align-items: center;

}

#Header_Account_Image span{
font-family: Fakt Pro;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 14px;
}

#Header_Account_Image img{
  width: 24px !important;
  height: 24px !important;
  border-radius: 12px;
  margin-right: 10px;
}

.Header_Account_Image_Arrow {
  display: none;
}


#bricks {
  display: none;
}

.free-wall {
  position: absolute;
  left: 260px;
}

.block_container {
  background: #FFFFFF;
  border: 1px solid #E9EBED;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
}

.block_container .brick_content_header {
  margin-bottom: 15px;
}

.block_container .brick_content_header .fa{
  display: none;
}

.block--reports .brick_content_item {
  color: #409fff;
  text-decoration: underline;
  font-size: 14px;
}

.block--reports .brick_content_item:hover {
  color: #0037e5;
}

.block--reports .brick_content_item .fa {
  display: none;
}
.block--leaveBalance .brick_content_row {}

.block--leaveBalance .brick_content_row td{
  font-family: Fakt Pro;
  font-size: 14px;
  color: #6A6D70;
}

.block--leaveBalance .brick_content_row td.rightalign {
  font-weight: 500;
  text-align: right;
  color: #17181A;
  padding: 0 !important;
}

.block--leaveBalance .brick_content_row td:last-of-type {
  display: none;
}
